<div class="container">

    <div class="jumbotron">
        <h1>LISTA DE TAREFAS</h1>
        <h2>To do List</h2>
    </div>

    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of items">{{ item }} | <button class="btn btn-danger" (click)="deleteTarefa(item)">-</button> </li>
    </ul>

    <hr>

    {{ tarefa }} <br><br>
    <label>Nome da Tarefa</label>

    <div class="form-group">
        <input class="form-control" type="text" [(ngModel)]="tarefa">      
    </div>

    <button class="btn btn-success" (click)="addTarefa()">+</button>


</div>